.form div {
  margin-bottom: 10px;
}

.error_text {
  color: #f44336; 
  font-size: 0.75rem; 
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
}

.thumb_wrapper {
  display: inline-block;
  position: relative;
}

.delete_thumb_icon {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: white;
  border-radius: 50%;
}

.delete_thumb_icon:hover {
  cursor: pointer;
  color: #002884;

}

