// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Flags of countries
@import '~flag-icon-css/css/flag-icon.min.css';

.navbar {
    .lang-choice-desktop, 
    .lang-choice-mobile {
        .lang-text-actual {
            background-color: transparent;
        }
        .dropdown-toggle::after {
            display: none
        }
        .dropdown-menu {
            min-width: 1rem;
        }
    }
    .navbar-nav a.nav-link:hover {
        color: $yellow;
    }
    .navbar-brand {
        border: 2px solid white;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.main-screen-desktop {
    img {
        height: 100vh;
    }
    .card-img-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}