// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Lightgallery
@import '~lightgallery.js/dist/css/lightgallery.min.css';

// Flags of countries
@import '~flag-icon-css/css/flag-icon.min.css';

// Cause navbar is fixed
.wrapper-main > .container h1 {
    padding-top: 80px;
}

.navbar {
    .lang-choice-desktop, 
    .lang-choice-mobile {
        .lang-text-actual {
            background-color: transparent;
        }
        .dropdown-toggle::after {
            display: none
        }
        .dropdown-menu {
            min-width: 1rem;
        }
        .btn.lang-text-actual {
            border: none;
        }
    }
    .navbar-nav a.nav-link:hover {
        color: $yellow;
    }
    .navbar-brand {
        border: 2px solid white;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0;
    }
}

.main-screen-desktop {
    img {
        height: 100vh;
    }
    .card-img-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.main-screen-mobile {
    padding-top: 3.5rem;
    .card-img-overlay {       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size: 1rem;
    }
}

.realty-min-card {
    .realty-params-list-shorted {
        list-style-type: none;
        padding-inline-start: 0;
        margin-bottom: 0;
        font-size: 1rem;
    }
    a.title {
        font-size: 1.5rem;
    }
    .card-img {
        cursor: pointer;
    }
    .card-img-overlay {
        padding-bottom: 0.78rem;
        padding-top: 0.8rem;
        padding-left: 0.9rem;
        padding-right: 0;        
    }
    .card-body {
        height: 100%;
    }
    del {
        color: $red;
    }
    .from-price-text {
        color: #212529;
        font-size: 1.5rem;
    }
    .price-text {
        font-size: 1.5rem;
    }
    .btn {
        letter-spacing: 1.1px;
        white-space: nowrap;
    }    
}

.realty-max-card-desktop {
    .realty-params-list {
        list-style-type: none;
        padding-left: 0;
    }
    .img-main-lightgallery {
        cursor: pointer;
    }
    #lightgallery {
        a {
            text-decoration: none;
        }
    }
}

.realty-params-mobile {
    .realty-params-list {
        list-style-type: none;
        padding-left: 0;
    }
}

.feedbacks {
    .jumbotron {
        padding: 2rem;
    }
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}

// Class-ghost. This class appear by Blade directive $villas->links()
.pagination {
    flex-wrap: wrap;
}

// Only
@include media-breakpoint-only(xs) { 
    .realty-min-card {
        .from-price-text {
            font-size: 1rem;
        }
    }
}
@include media-breakpoint-only(sm) { }
@include media-breakpoint-only(md) { }
@include media-breakpoint-only(lg) { 
    .realty-card-desktop {
        .realty-params-list-shorted {
            font-size: 0.9rem;
        }
        a {
            font-size: 0.8rem;
        }
        h5 {
            font-size: 1rem;
        }
    }
}
@include media-breakpoint-only(xl) { }


// Between
@include media-breakpoint-between(xs, md) { 
    #navbarCollapse {
        ul {
            padding-top: 1rem;
        }        
    }
}


// Up
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }


//Down
@include media-breakpoint-down(xs) { }
@include media-breakpoint-down(sm) { }
@include media-breakpoint-down(md) { 
    .realty-min-card {
        a.title {
            font-size: 1.2rem;
        }
        .card-body {
            padding: 0.7rem;
        }
    }
}
@include media-breakpoint-down(lg) { }



